<% content_for :header_list do %>
  <%= render 'common/header_list', class_info: @class_info %>
<% end %>

<% content_for :user_login_info do %>
    <%= render 'common/user_login_info', userinfo: session[:current_user] %>
<% end %>


<div class="row schools class-details">
    <div class="tophero">
        <div class="container">
            <div class="col-md-6 secondnav">
                <a href="/schools"> All Schools</a>
                > <a href="/schools/<%= @class_info[:school_id] %>/classes"><%= @class_info[:school_name] %></a>
                > <%= @myclass['displayName'] %>
            </div>
        </div>
        <div class="container">
            <div class="a-heading ">Class Details</div>
            <div class="b-title"><%= @myclass['extension_fe2174665583431c953114ff7268b7b3_Education_CourseNumber'] %> | <%= @myclass['displayName'] %></div>
        </div>
        <div class="container coursedetail">
            <div class="col-md-6">
                <span>Course Name:</span> <%= @myclass['displayName'] %>
                <br />
                <span>Description:</span> <%= @myclass['description'] %>
                <br />
                <span>Period:</span> <%= @myclass['extension_fe2174665583431c953114ff7268b7b3_Education_Period'] %>
                <br />
                <span>Term Name:</span> <%= @myclass['extension_fe2174665583431c953114ff7268b7b3_Education_TermName'] %>
                <br />
                <span>Start/Finish Date:</span>
                <span id="termdate"><%= @myclass['extension_fe2174665583431c953114ff7268b7b3_Education_TermStartDate'] %></span>
                <span id="termdate-separator"> - </span>
                <span id="termdate"><%= @myclass['extension_fe2174665583431c953114ff7268b7b3_Education_TermEndDate'] %></span>
            </div>
            <div class="col-md-6">
                <span>Teacher:</span> 
                <%= (@student_info.select{|_| _[:object_type] == 'Teacher'}.first || {}).fetch(:displayName, '') %>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="students">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#students"><span>Students</span></a></li>
            <li><a data-toggle="tab" href="#documents" id="classdoclink"><span>Class Documents</span></a></li>
            <li><a data-toggle="tab" href="#conversations"><span>Conversations</span></a></li>
            <li><a data-toggle="tab" href="#seatingchart"><span>SEATING CHART</span></a></li>
        </ul>
        <div class="tab-content">
            <div id="students" class="tab-pane fade in active">
                    <table class="table  table-green table-student tablesorter" id="studentsTable">
                        <thead>
                            <tr class="table-green-header">
                                <th class="tdleft">student name</th>
                                <th>grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @student_info.select{|_| _[:object_type] == 'Student'}.each do |student| %>
                                <tr class="tr-content">
                                    <td><img src="<%= student[:photo] %>" realheader="<%= student[:photo] %>" /> <%= student[:displayName] %> </td>
                                    <td><%= student[:grade] %></td>
                                </tr>
                            <% end %>    
                        </tbody>
                    </table>
            </div>
            <div id="documents" class="tab-pane fade">
                    <table id="studoc" class="table  table-green table-student tablesorter">
                        <thead>
                            <tr class="table-green-header">
                                <th class="border-holder"></th>
                                <th class="space-holder left"></th>
                                <th class="tdleft">document name</th>
                                <th class="tdleft">modified</th>
                                <th class="tdleft">modified by</th>
                                <th class="space-holder right"></th>
                            </tr>
                            <tr class="blanktr">
                                <th colspan="5"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @items.each do |item| %>
                            <tr class="tr-content">
                                <td class="border-holder"></td>
                                <td class="space-holder left"></td>
                                <td>
                                    <a target="_blank" href="<%= item['webUrl'] %>"><%= item['name'] %></a>
                                </td>
                                <td><%= item['lastModifiedDateTime'] %></td>
                                <td><%= item['createdBy']['user']['displayName'] %></td>
                                <td class="space-holder right"></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                <span class="see-more"><a href="https://canvizedu.sharepoint.com/sites/<%= @myclass['mail'] %>/Shared%20Documents" target="_blank">See All</a></span>
                <br style="clear:both" />
            </div>
            <div id="conversations" class="tab-pane fade">
                    <table id="stuconv" class="table  table-green table-student">
                        <tbody>
                            <% @conversations.each do |conversation| %>
                                <tr class="tr-content">
                                    <td class="border-holder"></td>
                                    <td class="space-holder left"></td>
                                    <td>
                                        <a target="_blank" href="https://outlook.office.com/owa/?path=/group/<%= @myclass['mail'] %>/mail&exsvurl=1&ispopout=0&ConvID=<%= conversation['id'] %>"><%= conversation['topic'] %></a>
                                    </td>
                                    <td class="space-holder right"></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <span class="see-more"><a target="_blank" href="https://outlook.office.com/owa/?path=/group/<%= @myclass['mail'] %>/mail&amp;exsvurl=1&amp;ispopout=0">See All</a></span>
                <br style="clear:both" />
            </div>

            <% if session[:current_user][:user_identify] == "Teacher" %>
            <div id="seatingchart" class="tab-pane fade ">
                <div class="left" id="dvleft">
                        <div class="tip"> To assign seats for each student, drag and drop student profile icons below onto the seating map to the right.</div>
                    <ul id="lstproducts">
                        <% @student_info.select{|_| _[:object_type] == 'Student'}.each do |student| %>
                        <li id="<%= student[:user_id] %>">
                            <img src="<%= student[:photo] %>" realheader="<%= student[:photo] %>" />
                            <span class="disname"> <%= student[:displayName] %> </span>
                            <span class="seated hideitem">seated ✓</span>
                        </li>
                        <% end %>
                    </ul>
                    <div id="hidtiles" class="hideitem">
                        <% @student_info.select{|_| _[:object_type] == 'Student'}.each do |student| %>
                        <div class="deskcontainer unsaved" style="" position="0" userid="<%= student[:user_id] %>">
                            <div class="deskclose"><img src="/Images/close.png"></div>
                            <div class="deskicon">
                                <img src="<%= student[:photo] %>" realheader="<%= student[:photo] %>" />
                            </div>
                            <div class="stuname">Jill Davis</div>
                        </div>
                        <% end %>
                    </div>
                </div>
                <div class="right" id="dvright">
                    <div class="teacherdesk" style="background-color:#2F19FF">Teacher's desk</div>
                    <div>
                        <div id="graybg">
                            <div class="desktile" position="1"></div>
                            <div class="desktile" position="2"></div>
                            <div class="desktile" position="3"></div>
                            <div class="desktile" position="4"></div>
                            <div class="desktile" position="5"></div>
                            <div class="desktile" position="6"></div>
                            <div class="desktile" position="7"></div>
                            <div class="desktile" position="8"></div>
                            <div class="desktile" position="9"></div>
                            <div class="desktile" position="10"></div>
                            <div class="desktile" position="11"></div>
                            <div class="desktile" position="12"></div>
                            <div class="desktile" position="13"></div>
                            <div class="desktile" position="14"></div>
                            <div class="desktile" position="15"></div>
                            <div class="desktile" position="16"></div>
                            <div class="desktile" position="17"></div>
                            <div class="desktile" position="18"></div>
                            <div class="desktile" position="19"></div>
                            <div class="desktile" position="20"></div>
                            <div class="desktile" position="21"></div>
                            <div class="desktile" position="22"></div>
                            <div class="desktile" position="23"></div>
                            <div class="desktile" position="24"></div>
                            <div class="desktile" position="25"></div>
                            <div class="desktile" position="26"></div>
                            <div class="desktile" position="27"></div>
                            <div class="desktile" position="28"></div>
                            <div class="desktile" position="29"></div>
                            <div class="desktile" position="30"></div>
                            <div class="desktile" position="31"></div>
                            <div class="desktile" position="32"></div>
                            <div class="desktile" position="33"></div>
                            <div class="desktile" position="34"></div>
                            <div class="desktile" position="35"></div>
                            <div class="desktile" position="36"></div>
                        </div>
                    </div>
                </div>
                <div id="dvedit" class="dvedit">
                        <img id="imgedit" src="/Images/edit.png" />
                        <img id="imgsave" src="/Images/save.png" />
                        <img id="imgcancel" src="/Images/cancel.png" />
                </div>
                <br style="clear:both" />
            </div>
            <% else %>
            <div id="seatingchart" class="tab-pane fade ">
                <div class="left" id="dvleft">
                        <div class="assignseat tip"><div class="greenicon" style="background-color:#2F19FF"></div>Your assigned seat </div>
                    <ul id="lstproducts">
                        <% @student_info.select{|_| _[:object_type] == 'Student'}.each do |student| %>
                        <li id="<%= student[:user_id] %>">
                            <img src="<%= student[:photo] %>" realheader="<%= student[:photo] %>" />
                            <span class="disname"> <%= student[:displayName] %> </span>
                            <span class="seated hideitem">seated ✓</span> 
                        </li>
                        <% end %>
                    </ul>
                    <div id="hidtiles" class="hideitem">
                        <% @student_info.select{|_| _[:object_type] == 'Student'}.each do |student| %>
                        <div class="deskcontainer unsaved green" style="background-color:#2F19FF" position="0" userid="<%= student[:user_id] %>">
                            <div class="deskclose"><img src="/Images/close.png"></div>
                            <div class="deskicon">
                                <img src="<%= student[:photo] %>" realheader="<%= student[:photo] %>" />
                            </div>
                            <div class="stuname"><%= student[:displayName] %></div>
                        </div>
                        <% end %>
                    </div>
                </div>
                <div class="right" id="dvright">
                    <div class="teacherdesk" style="">Teacher's desk</div>
                    <div>
                        <div id="graybg">
                                <div class="desktile" position="1"></div>
                                <div class="desktile" position="2"></div>
                                <div class="desktile" position="3"></div>
                                <div class="desktile" position="4"></div>
                                <div class="desktile" position="5"></div>
                                <div class="desktile" position="6"></div>
                                <div class="desktile" position="7"></div>
                                <div class="desktile" position="8"></div>
                                <div class="desktile" position="9"></div>
                                <div class="desktile" position="10"></div>
                                <div class="desktile" position="11"></div>
                                <div class="desktile" position="12"></div>
                                <div class="desktile" position="13"></div>
                                <div class="desktile" position="14"></div>
                                <div class="desktile" position="15"></div>
                                <div class="desktile" position="16"></div>
                                <div class="desktile" position="17"></div>
                                <div class="desktile" position="18"></div>
                                <div class="desktile" position="19"></div>
                                <div class="desktile" position="20"></div>
                                <div class="desktile" position="21"></div>
                                <div class="desktile" position="22"></div>
                                <div class="desktile" position="23"></div>
                                <div class="desktile" position="24"></div>
                                <div class="desktile" position="25"></div>
                                <div class="desktile" position="26"></div>
                                <div class="desktile" position="27"></div>
                                <div class="desktile" position="28"></div>
                                <div class="desktile" position="29"></div>
                                <div class="desktile" position="30"></div>
                                <div class="desktile" position="31"></div>
                                <div class="desktile" position="32"></div>
                                <div class="desktile" position="33"></div>
                                <div class="desktile" position="34"></div>
                                <div class="desktile" position="35"></div>
                                <div class="desktile" position="36"></div>
                        </div>
                    </div>
                </div>
                <div id="dvedit" class="dvedit">
                </div>
                <br style="clear:both" />
            </div>
            <% end %>
        </div>
    </div>
</div>
<input type="hidden" name="hidSectionid" id="hidSectionid" value="64e0c4a4-8fc9-4d2a-9d95-63316ac82a31" />

<%= javascript_include_tag "classdetail" %>